<html>
    <head>
        <title>HandleBars</title>
    </head>
    <body>
       <h3>Contacts</h3>
       <ul>
           {{#each contact}}
                <li>Name:{{this.name}}&nbsp Email:{{this.email}}</li>
           {{/each}}
       </ul>
    </body>
</html>